__pycache__
test/__pycache__
test/logic/__pycache__
database/__pycache__
logic/__pycache__
.pytest_cache
.tox
.vscode
coverage_annotation
Ollivanders_Shop_API_Rest.egg-info
venv
database.db
database/mysql_data
